#main
{
    display:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    background-color: #222832;
}
.square
{
    text-align: center;
    color:white;
    font-size:60px;
    position:fixed;
    width:100px;
    height:100px;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}